<h2>Create Your SEXY Profile</h2>
<p>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :first_name,
                require: true,
                autofocus: true,
                placeholder: "Type your first name",
                input_html: { autocomplete: "first name" }%>
    
    <%= f.input :last_name,
                require: true,
                autofocus: true,
                placeholder: "Type your Last name",
                input_html: { autocomplete: "Last name" }%>

    <%= f.input :username,
                required: true,
                autofocus: true,
                # label: false,
                placeholder: "Type your username here !",
                input_html: { autocomplete: "username" }%>

    <%= f.input :email,
                required: true,
                autofocus: true,
                # label: false,
                placeholder: "Type your email so we can send you a nice newsletter",
                input_html: { autocomplete: "email" }%>

    <%= f.input :role,
                require: false,
                autofocus: true,
                # label: false,
                placeholder: "As a God Master Coder what is your role ?",
                input_html: { autocomplete: "coders or companies" }%>

    <%= f.input :language,
                require: false,
                autofocus: true,
                # label: false,
                placeholder: "Choose your programming languages !",
                input_html: { autocomplete: "for coders only" }%>

    <%= f.input :years_of_experience,
                required: false,
                autofocus: true,
                # label: false,
                placeholder: "1 or 60 ? Tell us your level !",
                input_html: { autocomplete: "years_of_experience" }%>

    <%= f.input :description,
                required: false,
                autofocus: true,
                # label: false,
                placeholder: "Do you like apple ? Just tell us something about you :)",
                input_html: { autocomplete: "description about yourself" }%>

    <%= f.input :experience,
                required: false,
                autofocus: true,
                # label: false,
                placeholder: "Tell us about your experience",
                input_html: { autocomplete: "experience" }%>
    
    <%= f.input :availability,
                required: true,
                autofocus: true,
                placeholder: "Please tell us whenever you are free for a job !",
                input_html: { autocomplete: "availability" }%>

    <%= f.input :photo, as: :file, required: true, autofocus: true %>

    <%= f.input :password,
                required: true,
                placeholder: "••••••••",
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>

    <%= f.input :password_confirmation,
                required: true,
                placeholder: "••••••••",
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
