<div class="container-index-projects">
  <h2 class= "favorites-title">Projects</h2>

    <h4 class= "favorites-title"><strong>My pending projects</strong></h4>
      <% if @pending_projects.empty? %>
        <p> You have no pending projects at the moment. A notification will inform you once you've been selected !</p>
      <% else %>
        <div class= "projects-grid">
          <% @pending_projects.each do |project| %>
            <div class= "indiv-project-box">
              <%= link_to coders_project_path(project), class: "custom-links" do %>
                <div class="box-name-picture" >
                  <%= cl_image_tag project.company.photo.key, class: "image-project-index", crop: :fill%>
                  <p class="project-name"><%= project.name %></p>
                </div>

                <div class="text-project-card">
                  <p class="text-hover-black" id="first-text"><strong>Description: </strong><%= project.description %></p>
                  <p class="text-hover-black"><strong>Deadline: </strong><%= project.deadline.strftime("%d/%m/%Y") %></p>
                  <p class="text-hover-black"><strong>Status: </strong><%= project.status %></p>

                  <div class="accept-decline">
                    <%= link_to "Decline", coders_project_path(project), id:"declinebut", data: {turbo_method: :delete} %>
                    <%= link_to "Accept", coders_project_path(project), id:"acceptbut", data: {turbo_method: :patch}%>
                  </div>
                  <p></p>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>

    <h4 class= "favorites-title"><strong>My current projects</strong></h4>
      <% if @accepted_projects.empty?  %>
        <p> You will find your accepted projects in this section.</p>
      <% else %>
        <div class= "accepted-projects-grid">
            <% @accepted_projects.each do |project| %>
              <div class= "indiv-project-box">
                <%= link_to coders_project_path(project), class: "custom-links" do %>
                  <div class="box-name-picture" >
                    <%= cl_image_tag project.company.photo.key, class: "image-project-index", crop: :fill %>
                    <p class="project-name"> <%= project.name %></p>
                  </div>

                  <div class="text-project-card">
                    <p id="first-text"><strong>Description: </strong><%= project.description %></p>
                    <p><strong>Deadline: </strong><%= project.deadline %></p>
                    <p><strong>Status: </strong><%= project.status %></p>
                    <p></p>
                  </div>
                <% end %>
              </div>
            <% end %>
        </div>
      <% end %>
</div>
