<div class="container">
  <h2 class= "coders-projects-big-title">Projects</h2>

  <div class="pending-box">
    <h4 class="coders-projects-title"><strong>My pending projects</strong></h4>
    <% if @pending_projects.empty? %>
      <p class="coders-projects-text" id="coders-projects-last-text"> You have no pending projects at the moment. A notification will inform you once you've been selected !</p>
    <% else %>
      <% @pending_projects.each do |project| %>
        <div>
          <p class="coders-projects-text"><strong>Name: </strong><%= project.name %></p>
          <p class="coders-projects-text"><strong>Description: </strong><%= project.description %></p>
          <p class="coders-projects-text"><strong>Deadline: </strong><%= project.deadline.strftime("%d/%m/%Y") %></p>
          <p class="coders-projects-text" id="coders-projects-last-text"><strong>Status: </strong><%= project.status %></p>

          <p class="coders-projects-text"><%= link_to "See more about this project", coders_project_path(project) %></p>

          <%= link_to "Decline", coders_project_path(project), class:"coders-projects-text", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          <%= link_to "Accept", coders_project_path(project), class:"coders-projects-text", data: {turbo_method: :patch, turbo_confirm: "Are you sure?"}%>
          <p></p>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="pending-box">
    <h4 class="coders-projects-title"><strong>My current projects</strong></h4>
      <% if @accepted_projects.empty?  %>
        <p class="coders-projects-text" id="coders-projects-last-text"> You will find your accepted projects in this section.</p>
      <% else %>
        <% @accepted_projects.each do |project| %>
        <div>
          <p class="coders-projects-text"><strong>Name: </strong><%= project.name %></p>
          <p class="coders-projects-text"><strong>Description: </strong><%= project.description %></p>
          <p class="coders-projects-text"><strong>Deadline: </strong><%= project.deadline %></p>
          <p class="coders-projects-text" id="coders-projects-last-text"><strong>Status: </strong><%= project.status %></p>

          <p class="coders-projects-text"><%= link_to "See more about this project", coders_project_path(project) %></p>
          <% end %>
      </div>
        <% end %>
  </div>
</div>
