<div class="container">
  <h2>The project</h2>
  <div class="project-proposition">
    <h4>Pending prositions</h4>
    <div>
      <p><strong> Description: </strong><%= @project.description %></p>
      <p><strong> Deadline: </strong><%= @project.deadline %></p>
      <p><strong> Status: </strong><%= @project.status %></p>
      <>
      <p></p>
    </div>
  </div>

  <div class="project-accepted">
    <h4>Accepted prositions</h4>
    <div>
      <p><strong> Description: </strong><%= @project.description %></p>
      <p><strong> Deadline: </strong><%= @project.deadline %></p>
      <p><strong> Status: </strong><%= @project.status %></p>
      <p></p>
    </div>
  </div>
</div>
