<div class="container-index-company" >
  <div class="top-container">

    <%= form_with url: companies_users_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        id: "search-bar",
        placeholder: "Search by name, username, languages ..."%>
      <%= submit_tag "Search", class: "btn btn-primary", id: "search-button"%>
    <% end %>
  </div>
  <p>



  <div class= "coders-grid">
    <% if @coders.any? %>
      <% @coders.each do |user|%>
        <div class= "small-content-index-company">
          <%= link_to companies_user_path(user), class: "custom-links" do %>
            <div class="text-center name-picture" >
              <%= cl_image_tag user.photo.key, crop: :fill, class: "image-company-index"%>
              <h4 class="card-user-name"><%= user.first_name.capitalize%></h4>
            </div>

            <div class="text-card">
              <div class="stars-right" style="display: flex; flex-direction: row-reverse;">
                <% if user.reviews.blank? %>
                  <p>No reviews yet</p>
                <% else %>
                  <% (user.reviews.map(&:rating).sum/user.reviews.count).times do %>
                    <span id="rating-text"><strong>⭐️</strong></span>
                  <% end %>
                <% end %>
              </div>

              <div class="other-text">
                <p><strong>Experience: </strong><%= user.experience %></p>
                <p id="languages-known"><strong>Language: </strong><%= user.language %></p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

    <% else %>
      <h2>Profile not found<h2>
    <% end %>
  </div>
</div>
