<div class="container" >
  <div class="top-container">

    <%= form_with url: companies_users_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        id: "search-bar",
        placeholder: "Search by name, username, languages ..."%>
      <%= submit_tag "Search", class: "btn btn-primary", id: "search-button"%>
    <% end %>
  </div>
  <p>
  <div class= "coders-grid">
    <% if @coders.any? %>
      <% @coders.each do |user| %>
        <div class= "small-content-index-company">
        <%= link_to companies_user_path(user), class: "custom-links" do %>
            <div class="text-center name-picture" >
              <h4><%= user.first_name.upcase%> <%= user.last_name.upcase %></h4>
              <%= cl_image_tag user.photo.key, height: 200, width: 200, crop: :fill, class: "image-company-index"%>
            </div>

            <p><strong>Username: </strong><%= user.username %></p>
            <p><strong>Experiences: </strong><%= user.experience %></p>
            <p><strong>Languages: </strong><%= user.language %></p>
            <div class="text-center">
            </div>
            <p></p>
          <% end %>
        </div>
      <% end %>

    <% else %>
      <h2>Profile not found<h2>
    <% end %>
  </div>
</div>
