<div class="container-coder">
  <div class="infos-coder">
    <%= link_to "Back to all coders", companies_users_path(), class:"bouton-show bouton-show-right" %>
    <div class="cv-coder">
      <p><strong>Programming languages: </strong><%= @coder.language %></p>
      <p><strong>Availability: </strong><%= @coder.availability %></p>
      <p><strong>Years of experience: </strong><%= @coder.years_of_experience %></p>
      <p><strong>Experiences: </strong><%= @coder.experience %></p>
    </div>

    <div class="block2">
      <div class="descrip">
        <p><strong>Description: </strong><%= @coder.description %></p>
      </div>
    </div>

    <p>
      <div class= "bouge">
        <p><strong>Reviews: </strong></p>
        <div>
          <% if @coder.reviews.blank? %>
            Leave a good review for <%= @coder.first_name %>
          <% else %>
            <% @coder.reviews.each do |review| %>
              <p><%= review.content %> | <%= review.rating %>💖
            <% end %>
          <% end %>
        </div>
        <%= simple_form_for([@coder, @review], url: companies_user_reviews_path([@coder, @review])) do |f|%>
          <strong><%= f.input :content, label: "Comments" %></strong>
          Add a rating for: <%= @coder.first_name %> <%= f.number_field :rating, max: 5, min: 0 %>
          <p>
            <%= f.button :submit %>
          </p>
        <% end %>
      </div>
    </p>
  </div>


  <div class="photo_name">
    <%= cl_image_tag @coder.photo.key, height: 350, width: 350, crop: :fill, id:"photo-coder-profile" %>
    <div class= "info-perso-coder">
      <h2><%= @coder.first_name.upcase %> <%= @coder.last_name.upcase %></h2>
      <p><strong> <i class="fa-solid fa-user"></i> Username: </strong><%= @coder.username %></p>
      <%= link_to "Add to list", companies_user_path(@coder), class:"bouton-show", data: {turbo_method: :patch} %>
      <%= link_to "Contact me", chatroom_path(), class:"bouton-show" %>
    </div>
  </div>
</div>
