<div class="container-coder">
  <div class="infos-coder">
    <%= link_to "Back to all coders", companies_users_path(), class:"bouton-show bouton-show-right" %>
    <div class="cv-coder">
      <p><i class="fa-solid fa-code"></i>    <strong>Programming languages: </strong><%= @coder.language %></p>
      <p><i class="fa-regular fa-calendar-check"></i> <strong>Availability: </strong><%= @coder.availability %></p>
      <p><i class="fa-solid fa-terminal"></i> <strong>Years of experience: </strong><%= @coder.years_of_experience %></p>
      <p><i class="fa-solid fa-briefcase"></i> <strong>Experiences: </strong><%= @coder.experience %></p>
    </div>

    <div class="block2">
      <div class="descrip">
        <p><strong>Description: </strong><%= @coder.description %></p>
      </div>
    </div>

    <p>
      <div class= "bouge">
        <p><strong>Reviews: </strong></p>
        <div>
          <% if @coder.reviews.blank? %>
            Leave a good review for <%= @coder.first_name %>
          <% else %>
            <% @coder.reviews.each do |review| %> 
              <p><i class="fa-solid fa-quote-left"></i> <%= review.content %> <i class="fa-solid fa-quote-right"></i> | 
              <% review.rating.times do  %>
                ⭐
              <% end %>
            <% end %>
          <% end %>
        </div>
        <%= simple_form_for([@coder, @review], url: companies_user_reviews_path([@coder, @review]), data: { controller: "form_submit" }) do |f|%>
          <strong><%= f.input :content, label: "Comments" %></strong> 
          <strong><%= f.input :rating, collection: (1..5).to_a, label: "Give this coder a good rate !", input_html: {data: {controller: "star-rating"}} %>
          <p id= "create-review">
            <%= f.button :submit %>
          </p>
        <% end %>
      </div>
    </p>
  </div>


  <div class="photo_name">
    <%= cl_image_tag @coder.photo.key, height: 350, width: 350, crop: :fill, id:"photo-coder-profile" %>
    <div class= "info-perso-coder">
      <h2><%= @coder.first_name.upcase %> <%= @coder.last_name.upcase %></h2>
      <p><strong> <i class="fa-solid fa-user"></i> Username: </strong><%= @coder.username %></p>
      <%= link_to "Add to list", companies_user_path(@coder), class:"bouton-show", data: {turbo_method: :patch} %>
      <%= link_to "Contact me", chatroom_path(), class:"bouton-show" %>
    </div>
  </div>
</div>
