<div>
  <h2><%= @coder.first_name %> <%= @coder.last_name %></h2>
    <p><strong>Username: </strong><%= @coder.username %></p>
    <p><strong>Description: </strong><%= @coder.description %></p>
    <p><strong>Experience: </strong><%= @coder.experience %></p>
    <p><strong>Language: </strong><%= @coder.language %></p>
    <p><strong>Availibility: </strong><%= @coder.availability %></p>
    <p><strong>Years of experience: </strong><%= @coder.years_of_experience %></p>
    <p></p>
</div>
