<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/companies/users", class: "navbar-brand" do %>
      <%= image_tag "code_it_companies.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <i class="fa-solid fa-bars-progress"></i>
            <%= link_to "Dashboard", "/companies/projects", class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <i class="fa-solid fa-plus"></i>
            <%= link_to "Create a post", new_companies_post_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <i class="fa-solid fa-user"></i>
            <%= link_to "Coders", "/companies/users", class: "nav-link" %>
          </li>

          <li class="nav-item">
            <i class="fa-solid fa-heart"></i>
            <%= link_to "My favourites", "/companies/users/favourites", class: "nav-link" %>
          </li>

          <li class="nav-item">
            <i class="fa-solid fa-message"></i>
            <%= link_to "Messages", chatrooms_path(), class: "nav-link" %>
          </li>
      </ul>
      <div class="d-flex align-items-center mb-2">
            <%= cl_image_tag current_user.photo.key, height: 80, width: 80, crop: :fit, class: "avatar" %>
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
          </div>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
    </div>
  </div>
</div>
