<div class="container-index-company">
  <h2 class="posts-title">All companies offers</h2>
  <h4 class="text-under-title">Find your next challenge !</h4>

  <div class= "posts-grid">
    <% @posts.each do |post| %>
      <%= link_to coders_post_path(post), id:"link-bottom" do %>
      <div class= "small-content-index-company">
        <div class="text-center name-picture" >
          <%= cl_image_tag post.company.photo.key, class: "image-project-index", crop: :fill%>
          <p class="card-user-name"><%= post.company.full_name %></p>
        </div>

        <div class="text-card-post">
          <p id="top-p"><strong>Name: </strong><%= post.name %></p>
          <p><strong>Description: </strong><%= post.description %></p>
          <p><strong>Deadline: </strong><%= post.deadline.strftime("%d/%m/%Y") %></p>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
