<div class="container-index-company">
  <h2 class="posts-title">All job offers</h2>

  <div class="top-container">

    <%= form_with url: coders_posts_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        id: "search-bar",
        placeholder: "Search by companies name  ..."%>
      <%= submit_tag "Search", class: "btn btn-primary", id: "search-button"%>
    <% end %>
  </div>

  <h4 class="text-under-title">Find your next challenge !</h4>

  <div class= "posts-grid">
    <% @posts.each do |post| %>
      <%= link_to coders_post_path(post), id:"link-bottom" do %>
      <div class= "small-content-index-company">
        <div class="text-center name-picture" >
          <%= cl_image_tag post.company.photo.key, class: "image-project-index", crop: :fill%>
          <p class="card-user-name"><%= post.company.full_name %></p>
        </div>

        <div class="text-card-post">
          <p id="top-p"><strong>Project: </strong><%= post.name %></p>
          <p><strong>Description: </strong><%= truncate(post.description, length: 70) %></p>
          <p><strong>Deadline: </strong><%= post.deadline.strftime("%d/%m/%Y") %></p>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
