<div class="container">
  <h2>All companies posts</h2>

  <% @posts.each do |post| %>
    <div>
      <p><strong> Company's name: </strong><%= post.company.full_name %></p>
      <p><strong>Name: </strong><%= post.name %></p>
      <p><strong>Description: </strong><%= post.description %></p>
      <p><strong>Deadline: </strong><%= post.deadline.strftime("%d/%m/%Y") %></p>

      <p><%= link_to "See more about this post", coders_post_path(post) %></p>
    </div>
  <% end %>
</div>
