<div class="container">
  <div>
    <h2>My company's projects</h2>
    <% @projects.each do |project| %>
      <div>
        <h4><strong>Name: </strong><%= project.name %></h4>
        <p><strong>Description: </strong><%= project.description %></p>
        <p><strong>Deadline: </strong><%= project.deadline.strftime("%d/%m/%Y")  %></p>
        <p><strong>Assigned coder: </strong><%= project.coder.full_name %></p>
        <p><strong>Status: </strong><%= project.status %></p>
        <p></p>
        <br>
      </div>
    <% end %>
  </div>
</div>
