<div class="container-index-projects">
  <h2 class= "company-project-title-top">My dashboard</h2>
    <h4 class= "company-project-title">My company's projects</h4>
      <% if @projects.empty? %>
        <p> You have not created any projects yet.</p>
      <% else %>
        <div class="company-project-box">
          <% @projects.each do |project| %>

            <% case project.status %>
              <% when "Pending" %>
              <% status_class = "status-pending" %>

              <% when "Approved" %>
              <% status_class = "status-approved" %>
            <% end %>

            <div class="box-indiv">
              <div class="picture-name-project">
                <%= cl_image_tag project.coder.photo.key, crop: :fill, class: "image-company-index-project"%>
                <h4 class="company-project-first-name"><%= project.name %></h4>
              </div>

                <p class="company-project-first" id="scroll-rule"><strong>Description: </strong><%= project.description %></p>
                <p class="company-project-text"><strong>Deadline: </strong><%= project.deadline.strftime("%d/%m/%Y")  %></p>
                <p class="company-project-text"><strong>Assigned coder: </strong><%= project.coder.full_name %></p>
                <div class="status-item">
                  <p class="company-project-text <%= status_class %>"><strong>Status: </strong><%= project.status %></p>
                </div>
            </div>
          <% end %>
        </div>
      <% end %>

  <h4 class= "company-project-title">My company's job offers</h4>
      <% if @posts.empty? %>
        <p> You have not created any offers yet.</p>
      <% else %>
        <div class="company-project-box">
          <% @posts.each do |post| %>

            <div class="box-indiv">
              <div class="picture-name-project">
                <%= cl_image_tag post.company.photo.key, crop: :fill, class: "image-company-index-project"%>
              </div>

                <p class="company-project-first"><strong>Project: </strong><%= post.name %></p>
                <p class="company-project-text"><strong>Description: </strong><%= truncate(post.description, length: 70) %></p>
                <p class="company-project-text"><strong>Deadline: </strong><%= post.deadline.strftime("%d/%m/%Y")  %></p>
            </div>
          <% end %>
        </div>
      <% end %>
</div>
