<div class= "supp_padding">
  <div class="container-newpro">
    <h2 class="title-newpro"> Add a new project </h2>

    <div class="form-project">
      <%= simple_form_for @project , url: companies_projects_path(@project) do |f| %>
        <%= f.input :name,
                    placeholder:"What is the name of your project?" %>
        <%= f.input :coder_id,
                    :as => :select,
                    :collection => User.all.where(role: "Coder"),
                    :label_method => :full_name,
                    :value_method => :id,
                    prompt: "Choose a coder" %>
        <%= f.input :description,
                      placeholder:" What are you expecting from the coder? " %>
        <%= f.input :deadline, as: :date, html5: true, label: "Deadline:"%>
        <div class="center-item">
          <%= f.submit "Request a new project", id: "submit-project-new" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
