<!DOCTYPE html>
<html>
  <head>
    <title>CodeIt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300;600;700&family=IBM+Plex+Sans:wght@100;400&family=Monoton&family=Mukta:wght@200&family=Open+Sans:ital,wght@0,800;1,800&display=swap" rel="stylesheet">

    <link href="css/star-rating.css" rel="stylesheet">
    <%= favicon_link_tag "favicon.png", rel: "icon", type: "image/png" %>
  </head>

  <body>
  <% if user_signed_in? %>
    <% if current_user.role == "Coder" %>
      <%= render "shared/navbar_coder" %>
    <% else %>
     <%= render "shared/navbar" %>
     <% end %>
  <% end %>
<%= render "shared/flashes" %>

  <% if user_signed_in? %>
    <div class= "main-container">
      <%= yield %>
    </div>
    <% else %>
  <%= yield %>
    <% end %>

  <script src="js/star-rating.js"></script>
  <script>
    var stars = new StarRating('.star-rating');
  </script>

  </body>
</html>
